
.open-sans{
  font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    max-width: 100%;
}

.container {
}

#nav-bar {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
#nav-bar img {
    max-width: 139px;
    cursor: pointer;
}

.nav-heading ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-heading ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.nav-heading ul li a:hover {
    color: #2ba55e;
}

.btn {
    padding: 12px 16px;
    background-color: #2ba55e;
    color: #FFFFFF;
    border: 1px solid #2ba55e;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.288);
}
.btn:hover {
    border: 1px solid #2ba55e;
    color: #2ba55e;
    background-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#hero{
    background: url(../assets/hero-bg.png) no-repeat center center/cover;

}

.early{
    display: flex;
    justify-content: center;
    padding-top: 115px;
}
.early-button {
    color: #2aa75e;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    border-radius: 1000px;
    margin-bottom: 16px;
    justify-content: center;
    border: #FAFAFA 2px solid;

}

.early-button:hover {
    border: #2ba55e8c 2px solid;
    color: #2ba55e;
    background-color: transparent;
    cursor: pointer;
}

.early-button img {
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
}
.early-button h6 {
    
}

.hero-content h1 {
    color: #FFFFFF;
    font-size: 72px; ;
    font-weight: bold;
    line-height: 84px;
    text-align: center;
    padding: 16px 0;
}
.h1-g {
    color: #30B868;
}

.hero-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 32px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    padding-bottom: 263px ;
}

.trns{
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.notes-section{
    max-width: 85%;
    margin: 0 auto;
}

.notes-heading{
    text-align: center;
    padding-top: 50px 0;
    
}

.notes-heading h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    padding-top: 120px;
    padding-bottom: 16px;
}

.notes-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.notes-card{
    display: flex;
    grid-area: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 150px 0;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 24px 21px 24px;
    width: 322px;
    height: 360px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 6px 50px 0 #00000011;
}

.card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 16px 0;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
.circle{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

#brain-section{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
}

#brain-section .brain-img{
    width: 600px;
    height: 600px;
}

 .brain-heading{
    margin: 102px 120px 102px 60px ;
 }

 .brain-heading h4{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
 }

 .brain-heading h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
 }

 .brain-heading h1{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    margin-bottom: 16px;
 }
 .brain-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
 }
.brain-heading h6{
    color: #001931;
    margin-bottom: 10px;
    /* line-height: 16px; */
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 6px;
}

/* challenge-part */

#challenge-part{
    background-color: #F7F6F2;
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
    margin: 120px auto;
    padding: 80px 20px;
}

.challenge-heading h2{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
    /* margin-top: 80px; */
}

.challenge-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 24px;
    padding-bottom: 24px;
}

.challenge-heading button{
    margin-bottom: 16px;
}

.challenge-heading h6{
    font-size: 16px;
    font-weight: 400;
    color: #826362;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.challenge-heading .dot{
    width: 6px;
    height: 6px;
    background-color: #627382;
    border-radius: 50%;
    align-items: center;
}


#footer{
    background-color: #001931;
    padding: 120px 0 0 0;

}

.footer-container{
    /* display: flex;
    justify-content: space-between; */
}

.footer-upper{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 80px 0;
    /* border: 2px solid red; */
}
.logo img{
    max-width: 139px;
}

.social-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   
.social-link h6{
    font-size: 20px ;
    color: #FFFFFF;
    font-weight: 500;
    padding-bottom: 16px;
}

.social-link ul{
    display: inline-flex;
    list-style: none;
    gap: 16px;
}

.footer-circle{
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.social-link ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link ul li a{
    text-decoration: none;
    color: #001931;
    font-size: 12px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.footer-circle:hover{
    box-shadow: 0 6px 50px 0 #01ff40be;
    
}

.social-link ul li a:hover{
    color: #30B868;
}
/* .social-link ul li a i{
    display: flex;
    justify-content: center;
    align-self:center;
    padding-top: 2px;
    width: 10px;
    height: 10px;
    margin: auto;
} */

.footer-buttom{
    width: 85%;
    margin: auto;
    /* color: #FAFAFA; */
}

.footer-buttom h6{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    /* padding-bottom: 40px; */
    color: #FAFAFA;
    padding: 30px 0;
    border-top: 1px solid #ffffff25;
}