
.open-sans{
  font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
}

.container {
    width: 1600px;
    margin: 0 auto;
    
}

#nav-bar {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    /* border: 2px solid red; */
}
#nav-bar img {
    max-width: 139px;
}

.nav-heading ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-heading ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.nav-heading ul li a:hover {
    color: #FF5733;
}

.btn {
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.btn:hover {
    background-color: #259c57;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#hero{
    background: url(../assets/hero-bg.png) no-repeat ;

}

.early{
    display: flex;
    justify-content: center;
    padding-top: 115px;
}
.early-button {
    /* background-color: #e2d0f3; */
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    border-radius: 1000px;
    margin-bottom: 16px;
    justify-content: center;
    border: none;
}
.early-button h6 {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}

.hero-content h1 {
    color: #FFFFFF;
    font-size: 72px; ;
    font-weight: bold;
    line-height: 84px;
    text-align: center;
    padding: 16px 0;
}
.h1-g {
    color: #30B868;
}

.hero-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 32px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    padding-bottom: 263px ;
}

.trns{
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.notes-section{
    max-width: 85%;
    margin: 0 auto;
}

.notes-heading{
    text-align: center;
    padding-top: 50px 0;
    
}

.notes-heading h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.notes-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.notes-card{
    display: flex;
    grid-area: 24px;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 150px 0;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 24px 21px 24px;
    width: 322px;
    height: 360px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 6px 50px 0 #00000011;
}

.card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 16px 0;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
.circle{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

